@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat';
    font-size: 22px;
    background-image: url('Gunung-Betung.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.header {
    background-color: whitesmoke;
    overflow: hidden;
    padding: 10px 20px;
    .kanan {
        float: left;
        display: inline;
        margin-left: 100px;
    }
    .kiri {
        float: right;
        display: inline;
    }
}

.konten {
    padding: 40px;
    size: 10px;
}